body
{
	font-family: arial;
	background-image: url("../img/bg.jpg");
	color:#FFF;
	background-size:cover;
    background-repeat: no-repeat;
}

#AgeScan{
	font-size:72px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#inputaddress
{
	width: 0px;
	border: 0px;
}

#leeftijdDiv
{
	width:450px;
	height:450px;
	border-radius:225px;
	font-size:300px;
	color:#fff;
	line-height:450px;
	text-align:center;
	background-color:#222222;
	margin-top:50px;
	margin:auto;
}
 .newbuttons {
	 margin:20px;
	 
 }
 
 .aantal
 {
	 font-size: 2em;
	 width: 500px;
	 text-align: center;
	 margin: auto;
	 margin-top:20px;
 }